$max-width: 1140px;
$gutter: 20px;
$finger-size: 40px;
$border-radius: 3px;
//
$color-navy: #083B87;
$color-blue: #01ACEE;
$color-soft-blue:#f1f6ff;
//
$font-family: 'Open Sans', 'Roboto',Arial,sans-serif;

