.Showcase {
  text-align: center;
  color: white;

  padding-bottom: 100px;
  padding-top: 100px;
  background: $color-navy url("../img/showcase_back.jpg") no-repeat center center / cover;

}
.Search {
  background-color: $color-yellow;
  padding: 40px;
  box-shadow: 0 20px 40px rgba(black, .2) ;
  &-form {
    position: relative;
    display: flex;
    flex-direction: column;

  }

  .asd {
    position: absolute;
    right: 0;

  }
}